<mat-list>
    <mat-card class="userCardList" *ngFor="let user of users">
        <mat-card-header>
          <img mat-card-avatar src="{{user.photoURL}}"/>
          <mat-card-title>{{user.displayName}}</mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
              <mat-chip color="primary" selected *ngIf="user.roles.trusted && user.roles.trusted === true">Trusted</mat-chip>
              <mat-chip color="accent" selected *ngIf="user.roles.admin && user.roles.admin === true">Admin</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
          <button selected *ngIf="user.roles.trusted === false" mat-button (click)="setUserTrust($event, user, true)">Trust</button>
          <button selected *ngIf="user.roles.trusted === true" mat-button (click)="setUserTrust($event, user, false)">Untrust</button>
        </mat-card-actions>
    </mat-card>
</mat-list>
