<div class="container">
  <app-jaguar *ngIf="(user$ | async)?.roles?.trusted == true"></app-jaguar>
  <section class="mat-elevation-z8" *ngIf="!(user$ | async)?.roles?.trusted == true">
    <h2 >No Access</h2>
    <p >Please get in touch with the owner to be allowed to use this.</p>
  </section>

</div>

