<!-- mat-elevation-z8 -->
<div class="container">  
    <section>
        <button [disabled]="disabled" class="mat-raised-button" color="accent" (click)="toggleDoor()">
            <i class="material-icons" *ngIf="!disabled && status === 'Closed'">lock</i>
            <i class="material-icons" *ngIf="!disabled && status === 'Open'">lock_open</i>
            <i class="material-icons" *ngIf="!disabled && status === 'Unknown'">texture</i>
            <i class="material-icons" *ngIf="!disabled && status === 'Moving'">remove_circle</i>
            <mat-spinner *ngIf="disabled"></mat-spinner>
        </button>
    </section>
    <section class="status">
        <p>Status: {{status}}</p>
    </section>
</div>