i{
    font-size: 256px;
}

h2{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0;
}

section{
    padding: 10px;
    flex-grow: 1
}
.status{
    text-align: center;
}

button{
    width: 256px;
    height: 256px;
    padding: 0;
}

.mat-spinner{
    margin:auto;
}