<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer  class="sidenav mat-elevation-z8" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(!(isHandset$ | async) || sidenavOpen) && (user$ | async)"
      (closedStart)="closeSidenav()">
    <mat-toolbar>
      <span class="userid">{{(user$ | async)?.displayName}}</span>
    </mat-toolbar>
    <mat-nav-list>
      <img class="avatar" src="{{(user$ | async)?.photoURL}}"/>
      <a mat-list-item>{{(user$ | async)?.email}}</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="navButton" (click)="closeSidenav()" routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item class="navButton" (click)="closeSidenav()" routerLink="/users" routerLinkActive="active" *ngIf="(user$ | async)?.roles?.admin === true " >Users</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="navButton" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="(user$ | async)" class="mat-elevation-z8">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openSidenav()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>WindyPlace</span>
      <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
