//@import '~@angular/material/theming';
@import '../../../styles.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.mat-toolbar {
  background-color: mat-color($candy-app-primary, 800);
  color: mat-contrast($candy-app-primary, 800);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list{
  padding-top: 0;
}


.toolbar-spacer{
  flex: 1 1 auto;
}

$avatar-size: 40px !default;
.avatar {
  max-width: 100%;
  // width: $avatar-size;
  // border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
  //margin-right:10px;

}

.userid{
  font-weight: 300;
  max-width: 100%;
  //overflow: 
}