@import '../../../styles.scss';

.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.error{
  color: red;
}

h1{
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(70deg, #1e1f1e -10%, mat-color($candy-app-primary, 800) 100%);
  height: 100vh;
  text-align:center;
}
  
.googleButton{
  background-color: #4285F4;
  color: #FFFFFF;
}

button{
  box-shadow: 0px 0px 50px 10px rgba(0,0,0, .5);
}
