<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1>WindyPlace</h1>
    <button type="button" mat-flat-button color="google" class="googleButton" (click)="tryGoogleLogin()">Sign in with Google</button>
  </div>
</div>